<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sandro.dec_dipartimentoeconomia">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/declogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaAvvisi"
            android:label="Avvisi"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Dipartimento"
            android:label="Dipartimento"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Persona"
            android:label="Persone"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PersonaSingola"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Organigramma"
            android:label="Organigramma"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ComitatoDidattica"
            android:label="Comitato Didattica"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ComitatoRicerca"
            android:label="Comitato Ricerca"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ConsiglioDipartimento"
            android:label="Consiglio di Dipartimento"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".GruppoAQ"
            android:label="Gruppo AQ/Riesame"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Documenti"
            android:label="Documenti"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PaginaDocumento"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".DocumentiVerbali"
            android:label="Verbali"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".DocumentiAtti"
            android:label="Atti"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="DEC"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MainActivityMultiDipartimento"
            android:label="DEC"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Visualizza"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Corso"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>